@charset "UTF-8";

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1440px;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 48px;
    color: #473C38;
}

p{
    color: #666666;
    line-height: 24px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.hero-section{
    background-color: #473C38;
    padding-top: 30px;
    padding-bottom: 112px;
}
.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    font-family: 'Playfair Display', serif;
    color:white;
    margin-left: 70px;
}

.menu a:hover{
    color: #FFE5B6;
    transition-duration: 1s;
}

.flex-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 112px;
}

.content-hero{
    max-width: 643px;
}

.content-hero h1{
    color: white;
    font-size: 60px;
    line-height: 56px;
}
.content-hero p{
    color: white;
    max-width: 450px;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-hero a{
    color:#473C38;
    background-color: #C2B19C;
    padding: 15px 50px;
    display: inline-block;
}

.content-hero a:hover{
    background-color:#FFE5B6;
    transition-duration: 1s;
}
.presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.content-presentation{
    width: 643px;

}
.content-presentation h2{
    max-width: 548px;
    margin-bottom: 20px;
}

.image-presentation img{
    filter: box-shadow(20px 20px 50px 0px #00000040);

}

.btn{
    display: inline-block;
    background-color: #473C38;
    color: #F0F1F0;
    padding: 6px 25px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #B2935B;
}

.text-center{
    text-align: center;
}

.cards{
    background-color: #F0F1F0;
    padding-top: 50px;
    padding-bottom: 51px;
}

.cards h2{
    margin-bottom: 49px;
    color: #473C38;
}
.flex-card{
    display: flex;
    justify-content: space-between;
}

.card-item{
    width: 356px;
    background-color: #F7FBFF;
    padding: 38px;
    box-sizing: border-box;
    
}
.card-item p{
    max-width: 280px;
}

.card-item h3{
    display: inline-block;
    line-height: 32px;
    margin-top: 17px;
    font-size: 24px;
}

.btn-card{
    display: block;
    text-align: center;

}
.comment{
    text-align: center;
    max-width: 857px;
    margin: 0 auto;
}

.comment h2{
    line-height: 40px;
    font-size: 40px;
    margin-top: 22px;
    margin-bottom: 24px;
}

.comment img{
    width: 41px;
    height: 30px;
}

.comment p{
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}

.news{
    background-color:#C2B19C;
    padding-top: 50px;
    padding-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formbox label{
    line-height: 24px;
}

.formbox input{
    width: 450px;
    height: 30px;
    border: none;
}

.btn-news {
    width: 162px;
    height: 30px;
    padding: 0px;
    align-self: end;
    border: none;
    cursor:pointer;
}

.footer{
    background-color: #473C38;
}

.flex-footer{
    display: flex;
    justify-content: space-around;

}

.box-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 357px;
}

.box-footer h2{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    font-weight: none;

}

.box-footer p{
    color: #F0F1F0;
    margin-bottom: 0px;
}

/* Para telas de até 1279px */

@media (max-width: 1279px){

    .menu{
        transform: translateX(-100%) !important; 
        position: absolute;
        z-index: 1;
        top:145px;
        height: calc(100% - 145px);
        left: 0;
        background-color: #B2935B;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        transition: 1s;

    }

    .menu-open{
        
        transform: translateX(0%) !important;
    }

    .menu a{
        color: #473C38;
        display: block;
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid black;
    }

    .logo{ height: 70px;}

    .btn-menu{
        position: absolute;
        right: 15px;

    }

    .bar{
        width: 40px;
        height: 3px;
        background-color: #F0F1F0;
        margin-bottom: 3px;
    }

    .x .bar:nth-child(2) {
        opacity: 0;

    }

    .x .bar:first-child {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .x .bar:last-child {
        transform: rotate(-45deg) translate(3px, -4px);
    }

    .flex-hero{
        flex-direction: column;
        text-align: center;
    }

    .content-hero{
        margin-bottom: 50px;
    }

    .content-hero p{
        max-width: 100%;
    }

    .content-hero h1{
        font-size: 32px ;
        line-height: 36px;
    }

    h2{
        font-size: 28px;
    }

    .card-item, .box-footer{
        width: 32%;
    }

    .news form div{
        width: 35%;
    }

    .news input{
        width: 100%;
    }

    .box-footer{
        width: 100px ;
        margin-bottom: 30px;
    }

}


@media (max-width: 809px){
    .image-presentation{
        display: none;
    }   

    .content-presentation{
        width: 100%;
    }

    .flex-card{
        flex-direction: column;
        align-items: center;
    }

    .card-item {
        width: auto;
        max-width: 500px;
        margin-bottom: 30px;
    }

    .card-item img{
        width: 100%;
    }

    .card-item:last-child{
        margin-bottom: 0px;
    }

    .box-footer{

        width: 100%;
        margin-bottom: 30px;

    }

    .box-footer:last-child{
        margin-bottom: 0px;

    }

    .new form{
        flex-direction: column;
        align-items: start;
    }

    .news form div{
        width: 100%;
        margin-bottom: 8px;
    }

    
}
    