.comment{
    text-align: center;
    padding: 5.0rem 0;

    p{
        font-size: 1.8rem;
        font-style: italic;
        color: white;
    }

    span{
        color: white;
        font-size: 1.6rem;
    }
}
