.gallery{

    margin-bottom: 40px;
    text-align: center;

    h3{
        @include title('h3');
              
    }

    img{
        filter: grayscale(65%);
        transition: 0.5s;

        &:hover{
            filter: grayscale(0);
            
        }
    }

    .col-7{
        text-align: start;
    }


}
